<div class="song-container mat-elevation-z8 container-width">
  <div class="mat-title">
    <mat-toolbar color="primary">Simple music player</mat-toolbar>
  </div>

  <ng-container *ngIf="dataSource$ | async as data">
    <mat-table #table [dataSource]="data">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.author}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let song; columns: displayedColumns;" (click)="onPlay(song)" class="row"></mat-row>
    </mat-table>
  </ng-container>
</div>
